version: 1.0

llm:
  base_url: http://localhost:11434
  models:
    main: llama3
    translator: qwen2

  prompts:
    system:
      base_path: ./prompts
      files:
        explain: explain.txt
        translate: translate.txt
        conversation: conversation.txt
        riddle: riddle.txt
        game_intro: game_intro.txt
        game_qa: game_qa.txt
        grader: grender.txt
        verbs: verb_conversation.txt
        grammar: grammar_conversation.txt

  options:
    generic:
      max_tokens: 2048
    specific:
      explain:
        temperature: 0.5
      translate:
        temperature: 0.3
      conversation:
        temperature: 0.5
      riddle:
        temperature: 0.5
      game_intro:
        temperature: 1.0
      game_qa:
        temperature: 0.7
      grader:
        temperature: 0.0
      verbs:
        temperature: 0.5
      grammar:
        temperature: 0.7

database:
  path: ../.data/words_database.db

voice:
  base_url: http://localhost:8000/v1
  api_key: sk-111111111
  model: tts-1
  voice: shimmer
  audio:
    sample_rate: 24000
    buffer_size: 512
    stream_chunk_size: 4096

app:
  debug: false
  log_level: INFO